<div class="row">
  <div class="col-12 card">
    <table class="table">
      <thead>
        <th>User</th>
        <th>Product</th>
        <th>Quantity</th>
        <th>Order Time</th>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <td><%= order.user.email %></td>
          <td><%= order.product.name %></td>
          <td><%= order.quantity %></td>
          <td><%= order.created_at.getlocal.strftime("%e-%m-%y %H:%M") %></td>
        <% end %>
      </tbody>
    </table>
  </div>
</div>