<div class="jumbotron text-center mt-3">
   <h1 class="google-font">My Wines</h1>
</div>

  <!-- Search Results -->
   <div id="search-results">
   </div>
   <!-- Displays Product Listing -->
  <div class="row">
     <%= render 'shared/listing' %>
  </div>
</div>