@import 'bootstrap/dist/css/bootstrap';

.center {
  text-align: center
}

/* Navbar */
.nav-but {
  color: #fff !important;
  border: 2px solid #fff;
}

.nav-user {
  color: #fff;
  margin-left: 5px;
}