<h1 class="jumbotron text-center mt-2">
  <p>Category: <%= @category.name %></p>
  
  <%= link_to 'View all Products', products_path, class: "btn btn-primary" %>

</h1>
<h3 class="text-center">In this category:</h3>
<%= render "categories/listing", obj: @category.products%>
