<h1 class="jumbotron text-center google-font mt-2">
  <p>Category: <%= @category.name %></p>
  <%= link_to 'All Products', products_path, class: "btn button-maroon " %>
  <%= link_to 'All Categories', categories_path, class: "btn button-maroon " %>
</h1>

<div class="row">
  <%= render "categories/listing", obj: @category.products%>
</div>

