<div class="col-md-8 offset-2 mt-4">
  <h2 class="mbs">Thank you for your order</h2>
  <%= form_tag transactions_path do%>
    <p>Please enter your payment details:</p>
    <div id="dropin"></div>
    <%=submit_tag "Pay £ #{current_user.cart_total_price.to_i}", class: "btn btn-primary" %>
  <%end%>
</div>