<div class="jumbotron google-font text-center">
   <h1 class="">Products List</h1>
   <% if current_user && current_user.admin? %>
      <%= link_to "Create new Product", new_product_path, class: "btn button-maroon but1-mob" %>
      <%= link_to "Categories", categories_path, class: "btn button-maroon but1-mob" %>
      <%= link_to "Create new Category", new_category_path, class: "btn button-maroon ml-1" %>
   <% end %>
</div>
   <!-- Search Results -->
   <div id="search-results">
   </div>
   <!-- Displays Product Listing -->
  <div class="row">
     <%= render 'shared/listing' %>
  </div>

