<div class="jumbotron text-center">
   <h1 class="">Products</h1>
   <% if current_user.admin? %>
      <%= link_to "Create new Product", new_product_path, class: "btn btn-success" %>
   <% end %>
   
</div>

  <div class="row">
     <%#= render 'shared/product', collection: @products %>
     <% @products.each do |product| %>
         <div class="card ml-3">
            <div class="card-body">
               <div class="card-title">
                  <p> <%= product.name %> </p>
               </div>
               
               <div class="card-text">
                  <p><small>GBP</small> <%= product.price %></p>
               </div>

               <div class="card-footer">
                  <%= link_to 'View Product', product_path(product), class: "btn btn-primary" %>
               </div>
            </div>
         </div>
     <% end %>
     
  </div>

