<h1 class="jumbotron">
  <%= @product.name.capitalize %> 
</h1>

<div class="card">
  <div class="card-body">
    <p> <%= @product.description %></p>
    <p><small>GBP</small> <%= @product.price %></p>
  </div>
  <div class="card-footer">
    <%= link_to 'Back to Product List', products_path %>
  </div>
</div>
