<nav class="navbar fixed-bottom navbar-dark navbar-expand-md bg-maroon justify-content-between google-font">
   <small class="navbar footer-text mx-auto text-white">Created by <%= link_to "Vincent Walker", "https://vincethewalker.herokuapp.com", target: "_blank", class: "footer-logo text-white ml-1 mr-1" %> 2021</small>
 </nav>



