<% if notice %>
  <div class='alert alert-success'>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
    </button>
    <%= notice %>
  </div>
<% end %>

<!-- And -->

<% if alert %>
  <div class='alert alert-danger'>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
    </button>
    <%= alert %>
  </div>
<% end %>

<% if info %>
  <div class='alert alert-light brand'>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">×</span>
    </button>
    <%= info %>
  </div>
<% end %>